<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="{% url "signup" %}">Sign Up</a></li>
                <li> <a href="{% url "login" %}">Login</a></li>
                {% if user.is_authenticated %}
                    <li> <a href="{% url "logout" %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for item in account_list %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.number }}</td>
                        <!-- I want the vendors name in this column-->
                        <td>{{ item.receipts.all|length }}</td>
                        {% endfor %}
                    </tr>

                </tbody>
            </table>
    </main>
</body>
</html>
