<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="{% url "signup" %}">Sign Up</a></li>
                <li> <a href="{% url "login" %}">Login</a></li>
                {% if user.is_authenticated %}
                    <li> <a href="{% url "logout" %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for item in receipts_list %}
                        <td>{{ item.vendor }}</td>
                        <!-- I want the vendors name in this column-->
                        <td>{{ item.total }}</td>
                        <!-- I want the total value from the receipt in this column-->
                        <td>{{ item.tax }}</td>
                        <!-- I want the tax value in this column-->
                        <td>{{ item.date|date:"m/j/y"}}</td>
                        <!-- I want the date formatted as m/d/yy in this column-->
                        <td>{{ item.category.name }}</td>
                        <!-- I want the catergory name in this column-->
                        <td>{{ item.account.name }}</td>
                        <!-- I want the name of the account in this column-->
                        {% endfor %}
                    </tr>

                </tbody>
            </table>
    </main>
</body>
</html>
